/*
Позиционирование
Блочная модель
Типографика
Оформление
*/

html {
  box-sizing: border-box;
  /*border-box: inherit;*/
}

body {
  width: 1200px;
  margin: 0;
  padding: 0;

  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;

  background-color: #ffffff;
  box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.2);
}


/*=================================все кнопки=========================================*/

.hotel-search-button {
  padding: 33px;
  margin: 35px 315px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.hotel-search-button:hover {
  background-color: #766357;
}

.hotel-search-button:focus {
  background-color: #604e43;
}

.hotel-search-button:active {
  background-color: #503e33;
  color: #857871;
}

.search-button {
  padding: 18px 195px;
  margin: 55px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.search-button input {
  background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.social-button {
  padding: 15px;
  margin: 35px 3px;

  background-color: #81b3d2;
  border: none;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}
/*======================================================================================*/

/*.visually-hidden {
  пропишу позже
}*/

/*===================================шапка==============================================*/

.main-navigation {
  display: block;
  position: relative;
  width: 1200px;
  height: 56px;
  margin: 0px;
  padding: 0px;

  background-color: #ffffff;
}

.site-navigation {
  padding: 25px 70px;
  margin: 0;

  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center; /*ТЗ: 3.4 Главное меню: четыре ячейки одинаковой ширины.
  Для первых двух пунктов выравнивание текста по левому краю,
  для двух последних — по правому.*/

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.site-navigation a { /*дублируется с .site-navigation*/
  padding: 25px 70px;
  margin: 0;
  list-style: none;

  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: #000000;
}

.site-navigation li {
  padding: 25px 70px;
  margin: 0;
  list-style: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #b2b2b2;
}

.site-navigation a:active {
  color: #7f6d62;
}

.main-logo {
  width: 140px;
  height: 72px;
  position: top center;
  top: 0;
}
/*======================================================================================*/

.introduction {
  position: relative;
}

.introduction-image {/*
  top: 56px;
  left: 0; */

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  background-image:
    url("img/welcome.svg"),
    url("img/polygon.svg"),
    url("img/background_photo.jpg");
  background-repeat: no-repeat;
  background-size:
    459px 353px,
    1200px 59px,
    1200px 800px;
  /*background-position:
    370px 132px,
    0 506px,
    0 -27px;
  position: absolute;*/
}

.introduction h1 {/*
  position: absolute;*/
  padding: 0px 350px;
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  /*width: 440px;
  height: 48px;
  z-index: 59;*/ /*нужно ли указывать z-index и позиционирование заголовков?*/

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.introduction p {/*
  position: absolute;*/
  padding: 0px 350px;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 60px;
  margin-left: 0;

  line-height: 26px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;

  color: #000000;
  text-transform: uppercase;
}

.sedona-advantages {
  margin: 0;
  padding: 0;

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;

  list-style: none;
  text-transform: uppercase;
}

.sedona-advantages h3 {
  padding: 15px 100px;
  margin: 0;

  line-height: 21px;
  font-size: 21px;
  font-weight: bold;

  background-color: #ffffff;
  color: #000000;
}

.sedona-advantages ~ p {
  padding: 15px 23px;
  margin: 0;

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;

  background-color: #ffffff;
  color: #000000;
}


.city-description-text p,
.devil-bridge-text p {
  padding: 15px 23px;
  margin: 0;

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;

  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
}

.city-description-text h2,
.devil-bridge-text h2 {
  padding: 15px 100px;
  margin: 0;

  line-height: 21px;
  font-size: 21px;
  font-weight: bold;

  background-color: #81b3d2;
  color: #ffffff;
}

/*.city-description-image img {
  position: absolute;
  left: 400px;
  top: 702px;
}

.devil-bridge-image img {
  position: absolute;
  left: 0;
  top: 1290px;
}*/

/*======================================форма==========================================*/
.hotel-search {
  border: none;
  background-color: #ffffff;
  color: #000000;
  box-shadow: -7px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.hotel-search h2 {
  padding: 20px;
  margin: 0px 375px;

  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search p {
  padding: 20px;
  margin: 0px 375px;

  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search-field {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: none;
}

.hotel-search-field input {
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.hotel-search-field input:hover,
.hotel-search-field input:focus {
  background-color: #ebebeb;
}


.hotel-search-field input:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}


/*======================================================================================*/

/*.map {
  position: absolute;
  left: 0;
  top: 2169px;
}*/

/*==============================внутренняя страница======================================*/

.hotel-item {
  padding: 30px;
  margin: 0;
  text-transform: uppercase;
}

.hotel-item h3 {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: left;

  color: #000000;
}

.hotel-item p {
  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;

  color: #000000;
}

.hotel-item span {
  padding: 9px 16px;

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;

  background-color: #f2f2f2;
  color: #000000;
}
.details-button{ /*Перенести наверх ко всем кнопкам главной страницы? */
  padding: 33px;
  margin: 35px 315px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}
.details-button:hover,
.details-button:focus {
  background-color: #669ec0;
}

.details-button:active{
  background-color: #669ec0;
  color: #88b6d1;
}

.booking-button { /*Перенести наверх ко всем кнопкам главной страницы? */
  padding: 33px;
  margin: 35px 315px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.booking-button:hover,
.booking-button:focus {
  background-color: #604e43;
}

.booking-button:active{
  background-color: #503e33;
  color: #857871;
}

.rate { /*как правильно прописать эти звезды в рейтинге? нужно ли для этого два класса, или один подойдет?*/
  height: 17px;
  background-color: #ffffff;
}
 .rate4 {
  width: 94px;
  background-image: url("img/star.svg");
  background-repeat: repeat-x;
}

 .rate3 {
  width: 94px;
  background-image: url("img/star.svg");
  background-repeat: repeat-x;
}

 .rate2 {
  width: 94px;
  background-image: url("img/star.svg");
  background-repeat: repeat-x;
}

/*======================================================================================*/


/*======================================футер==========================================*/
footer {
  line-height: 26px;
  font-size: 14px;
  font-weight: normal;

  background-color: rgba(255, 255, 255, 0.1);
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

.visitsedona {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

footer a {
  display: block;
  width: 48px;
  height: 48px;
  padding-top: 13px;
  padding-bottom: 13px;

  list-style: none;
  text-decoration: none; /*как центрировать на кнопках векторные изображения?*/
}

footer li {
  list-style: none; /*это нужно указывать ссылкам или элементам списка?*/
}

.footer-logo {
  fill: #000000; /*почему у меня логотип все равно невидимый?*/
}
/*=====================================================================================*/
