/*
Позиционирование
Блочная модель
Типографика
Оформление
*/

html {
  box-sizing: border-box;
  /*border-box: inherit;*/
}

body {
  margin: 0;
  padding: 0;

  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;

  background-color: #ffffff;
}

.body-wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

/*=================================все кнопки=========================================*/

.open-form-button {
  padding: 33px;
  margin: 35px 315px;
  width: 575px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.open-form-button:hover {
  background-color: #766357;
}

.open-form-button:focus {
  background-color: #604e43;
}

.open-form-button:active {
  background-color: #503e33;
  color: #857871;
}

button.search-button {
  padding: 18px 195px;
  margin: 55px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.search-button input {
  background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.social-button {
  display: inline-block;
  box-sizing: border-box;

  padding: 0 auto;
  margin: 0 auto;
  margin-right: 6px;

  vertical-align: middle;
  text-align: center;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}

.twitter {
  background-image:
    url("../img/twitter.svg");
  background-size: 25px 25px;
}

.fb {
  background-image:
    url("../img/facebook.svg");
  background-size: 25px 25px;
}

.youtube {
  background-image:
    url("../img/youtube.svg");
  background-size: 25px 25px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}
/*======================================================================================*/

/*.visually-hidden {
  пропишу позже
}*/

/*===================================шапка==============================================*/

.main-header {
  margin: 0;
  padding: 0;
}

.main-navigation {
  position: relative;

  display: block;
  width: 1200px;
  margin: 0px;
  padding: 15px 70px;
  box-sizing: border-box;

  background-color: #ffffff;
  list-style: none;
  border: 0;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  background-color: #ffffff;
}

.site-navigation li {
  width: 240px;
  height: 18px; /*ничего, что я поставила фиксированную высоту? иначе у меня не подгонялась навигация под макет*/
  margin: 0;
  padding: 0;
  border:0;

  list-style: none;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2)  {
  text-align: left;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3)  {
  text-align: right;
}

.site-navigation a {
  margin: 0;
  padding: 0;

  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: #000000;

  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #b2b2b2;
}

.site-navigation a:active {
  color: #7f6d62;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 528px;
  z-index: 1;

  display: block;
  width: 140px;
  height: 72px;
}
/*======================================================================================*/

.introduction-image::before {
  content: url("../img/polygon.svg");
  position: relative;
  top: 455px;
  z-index: 5;

  width: 1200px;
  height: 59px;/
}

.introduction-image {
  position: relative;
  display: block;
  width: auto;
  height: 512px; /*могу ли я указывать здесь фиксированную высоту?*/

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  background-image: url("../img/background_photo.jpg");
  background-repeat: no-repeat;
}


.welcome-img {
  position: absolute;
  top: 61px;
  left: 365px;

  width: 459px;
  height: 353px;

  background-image: url("../img/welcome.svg");
}


.intro-text {
  width: 1200px;
  margin: 0;
  padding: 48px 0;

  background-color: #ffffff;
}

.intro-title {
  position: relative;
  z-index: 2;

  width: 576px;

  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
}

.intro-title h1 {
  margin-top: 10px;
  margin-bottom: 35px;
  padding: 0px 42px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.intro-title p {
  margin-bottom: 10px;

  line-height: 26px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;

  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.sedona-advantages {
  display: block;
  z-index: 5;
  margin: 0;
  padding: 0;

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;

  list-style: none;
  text-transform: uppercase;
}

.sedona-advantages h3 {
  padding: 15px 100px;
  margin: 0;

  line-height: 21px;
  font-size: 21px;
  font-weight: bold;

  background-color: #ffffff;
  color: #000000;
}

.sedona-advantages ~ p {
  line-height: 21px;
  font-size: 14px;
  font-weight: normal;

  background-color: #ffffff;
  color: #000000;
}

.city-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #81b3d2;
}

.city-description-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  box-sizing: border-box;

  padding: 45px 60px;
  margin: 0;

  width: 400px;
}

.devil-bridge {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background-color: #81b3d2;
}

.devil-bridge-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  box-sizing: border-box;

  padding: 49px;
  margin: 0;

  width: 400px;
}

.city-description-text p,
.devil-bridge-text p {

  margin: 0;

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;

  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
}

.city-description-text h2,
.devil-bridge-text h2 {
  margin: 0;
  padding: 0;

  line-height: 21px;
  font-size: 21px;
  font-weight: bold;

  background-color: #81b3d2;
  color: #ffffff;
}

.city-description-image img{
  display: flex;
  flex-grow: 3;

  width: 800px;
  padding: 0;
  margin: 0;
}

.devil-bridge-image img{
  display: flex;
  flex-grow: 3;

  width: 800px;
  padding: 0;
  margin: 0;
}

.city-options {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;

  margin: 0;
  padding: 55px;

  list-style: none;
}

.option-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 400px;

  list-style: none;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 45px 0;

  box-sizing: border-box;

  list-style: none;
  background-color: #eeeeee;
}

.features-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 400px;
  box-sizing: border-box;

  margin: 0;
  padding: 0 15px;

  background-color: #eeeeee;
  list-style: none;
}

.features-item h3 {
  margin-bottom: 15px;
  background-color: #eeeeee;
}

.features-item p {
  margin-bottom: 15px;
  background-color: #eeeeee;
}

/*======================================форма==========================================*/
.search-container .text {
  display: block;
  margin: 0 384px;
 }

.hotel-search {
  border: none;
  background-color: #ffffff;
  color: #000000;
}

.hotel-search h2 {
  padding-top: 55px;
  margin: 0;

  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.hotel-search p {
  padding-top: 35px;
  margin: 0;

  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.hotel-search-form {
  position: relative;
  left: 315px;
  top: -50px;
  display: block;
  width: 575px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #ffffff;
  box-shadow: -7px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.hotel-search-form fieldset {
  border: none;
}

.hotel-search-form input {
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.hotel-search-form input:hover,
.hotel-search-form input:focus {
  background-color: #ebebeb;
}


.hotel-search-form input:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

/*======================================================================================*/

.map {
  position: relative;
  display: block;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*==============================внутренняя страница======================================*/
.search-preferences {
  height: 219px;
  padding: 30px 73px;
  box-sizing: border-box;

  background-image: url("../img/background_photo.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;/*
  -webkit-filter: blur(10px);
  filter: blur(5px);*/
}

.infrastructure {
  display: inline-block;
  width: 241px;
  text-align: left;
}

.accomodation {
  display: inline-block;
  width: 288px;
}

.infrastructure .list,
.accomodation .list {
  list-style: none;
}

.filter-range {
  display: inline-block;
}

.search-results {
  display: flex;
  flex-direction: row;
  padding: 30px 73px;
  border-bottom: 1px solid #e5e5e5;
}

.search-results h2 {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
}

.search-results .dir-icons {
  margin: auto 0;
  margin-left: auto;
}

 ul.sort-list {
  margin: 0;
}

.sort-list li{
  display: inline;

  padding-left: 33px;

  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;

  list-style: none;
}

.hotel-item {
  display: flex;
  flex-direction: row;

  padding: 30px 0;

  border-bottom: 1px solid #e5e5e5;
  text-transform: uppercase;
}

.hotel-item img {
  display: block;
  padding-left: 73px;
}

.hotel-item a {
  text-decoration: none;
}

.hotel-item-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h3.hotel-item-title {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 11px;
  padding: 0;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: left;

  color: #000000;
}

.hotel-item-buttons {
  display: flex;
  flex-direction: row;

  margin: 0;
  margin-left: 30px;
  margin-bottom: 11px;
  padding: 0;
}

.hotel-details {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.hotel-details p {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 11px;
  padding: 0;

  text-align: left;
}

 .button-details { /*Перенести наверх ко всем кнопкам главной страницы? */
  display: inline-block;

  padding: 7px 11px;

  line-height: 21px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}
.button-details:hover,
.button-details:focus {
  background-color: #669ec0;
}

.button-details:active{
  background-color: #669ec0;
  color: #88b6d1;
}

.hotel-price-book {
  margin-left: 5px;
  padding: 0;
}

.hotel-price-book p {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;

  text-align: left;
}

.button-booking { /*Перенести наверх ко всем кнопкам главной страницы? */
  display: inline-block;

  padding: 7px 11px;

  line-height: 21px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
}

.button-booking:active{
  background-color: #503e33;
  color: #857871;
}

.hotel-rate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 115px;
  margin-left: auto;
  margin-right: 73px;
}

.hotel-rate span {
  align-self: center;
  justify-content: flex-end;

  padding: 3px 16px;

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;

  background-color: #f2f2f2;
  color: #000000;
}

ul.hotel-rate.list {
  margin: 0;
  padding-bottom: 45px;
  justify-content: flex-end;
}

.hotel-rate .list li {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.hotel-rate-star {
  height: 17px;
  width: 18px;
  background-image: url("../img/star.svg");
}

/*======================================футер==========================================*/
.main-footer {
  padding: 0 73px;
  margin-top: 0;

  line-height: 26px;
  font-size: 14px;
  font-weight: normal;

  background-color: rgba(255, 255, 255, 0.1);
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

.main-footer a {
  display: block;
}

.main-footer .containter {
  display: flex;
  flex-direction: row;/*
  justify-content: space-between;*/

  margin: 0;
  padding: 0;
}

.visitsedona {
  flex-grow: 1;

  margin: 48px 0;
  padding: 0;

  min-width: 328px;
  box-sizing: border-box;

  font-size: 21px;
  font-weight: bold;
 }

.footer-buttons {
  padding: 0;
  margin: 0;
  width: 400px;

  list-style: none;
}

.footer-buttons li {
  display: inline-block;
  list-style: none;
}

.footer-buttons a {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 36px 0;

  list-style: none;
  text-decoration: none;
}

.website-by {
  width: 328px;
  margin: 40px auto;
}

.website-by span {
  display: inline-block;
  margin: 0;
  padding: 0;

  box-sizing: inherit;
  font-weight: normal;
  vertical-align: middle;
}

a.footer-logo,
.footer-logo img {
  display: inline-block;
  width: 115px;

  vertical-align: middle;

  fill: #000000;
}


