/*
Позиционирование
Блочная модель
Типографика
Оформление
*/

html {
  box-sizing: border-box;
  /*border-box: inherit;*/
}

body {
  width: 1280px;
  margin: 0;
  padding: 0;

  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;

  background-color: #ffffff;
}


/*=================================все кнопки=========================================*/

.open-form-button {
  padding: 33px;
  margin: 35px 315px;
  width: 575px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.open-form-button:hover {
  background-color: #766357;
}

.open-form-button:focus {
  background-color: #604e43;
}

.open-form-button:active {
  background-color: #503e33;
  color: #857871;
}

button.search-button {
  padding: 18px 195px;
  margin: 55px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.search-button input {
  background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.social-button {
  box-sizing: border-box;

  padding: 15px;
  margin: 35px 3px;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}

.twitter {
  background-image:
    url("../img/twitter.svg");
  background-size: 25px 25px;

  fill: #000000;
}

.fb {
  background-image:
    url("../img/facebook.svg");
  background-size: 25px 25px;

  fill: #000000;
}

.youtube {
  background-image:
    url("../img/youtube.svg");
  background-size: 25px 25px;

  fill: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}
/*======================================================================================*/

/*.visually-hidden {
  пропишу позже
}*/

/*===================================шапка==============================================*/

.main-navigation {
  display: block;
  width: 1200px;
  /*height: 56px;*/

  background-color: #ffffff;
}

.site-navigation {
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center; /*ТЗ: 3.4 Главное меню: четыре ячейки одинаковой ширины.
  Для первых двух пунктов выравнивание текста по левому краю,
  для двух последних — по правому.*/

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.site-navigation a { /*дублируется с .site-navigation*/
  padding: 25px 70px;
  margin: 0;
  list-style: none;

  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  color: #000000;
}

.site-navigation li {
  padding: 25px 70px; /*дублируется с .site-navigation*/
  margin: 0;
  list-style: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #b2b2b2;
}

.site-navigation a:active {
  color: #7f6d62;
}

.main-logo {
  width: 140px;
  height: 72px;
  position: top center;
  top: 0;
}
/*======================================================================================*/

.introduction {
}

figure.introduction-image {
  display: block;
  width: auto;
  height: 512px; /*могу ли я указывать здесь фиксированную высоту?*/

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  background-repeat: no-repeat;
  /*background-position:
    370px 132px,
    0 506px,
    0 -27px;
  position: absolute;*/
}

.introduction-image .sedona-img { /*ЧТО ЗДЕСЬ НЕ ТАК?*/
  background-image: url("../img/background_photo.jpg");
  width: 1200px;
  height: 800px;
}

.introduction-image .welcome-img {
  background-image: url("../img/welcome.svg");
  width: 459px;
  height: 353px;

}

.introduction-image .polygon-img {
  background-image: url("../img/polygon.svg");
  width: 1200px;
  height: 59px;
}

.intro-title {
  margin: 58px auto;
}

.introduction h1 {/*
  position: absolute;*/
  padding: 0px 350px;
  /*margin-top: 30px;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;*/
  /*width: 440px;
  height: 48px;
  z-index: 59;*/ /*нужно ли указывать z-index и позиционирование заголовков?*/

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.introduction p {/*
  position: absolute;*/
  padding: 0px 350px;
  /*margin-top: 0px;
  margin-right: 0;
  margin-bottom: 60px;
  margin-left: 0; */

  line-height: 26px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;

  color: #000000;
  text-transform: uppercase;
}

.sedona-advantages {
  margin: 0;
  padding: 0;

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;

  list-style: none;
  text-transform: uppercase;
}

.sedona-advantages h3 {
  padding: 15px 100px;
  margin: 0;

  line-height: 21px;
  font-size: 21px;
  font-weight: bold;

  background-color: #ffffff;
  color: #000000;
}

.sedona-advantages ~ p {
  /*padding: 15px 23px;
  margin: 0;*/

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;

  background-color: #ffffff;
  color: #000000;
}


.city-description-text p,
.devil-bridge-text p {/*
  padding: 15px 23px;*/
  padding: 0;
  margin: 0;

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;

  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
}

.city-description-text h2,
.devil-bridge-text h2 {
  /*padding: 15px 100px;
  margin: 0;*/

  padding: 0;
  margin: 0;

  line-height: 21px;
  font-size: 21px;
  font-weight: bold;

  background-color: #81b3d2;
  color: #ffffff;
}

/*======================================форма==========================================*/
.hotel-search {
  border: none;
  background-color: #ffffff;
  color: #000000;
  box-shadow: -7px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.hotel-search h2 {
  padding-top: 55px;
  margin: 0;

  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search p {
  padding-top: 35px;
  margin: 0;

  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search-form {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #ffffff;
}

.hotel-search-form fieldset {
  border: none;
}

.hotel-search-form input {
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.hotel-search-form input:hover,
.hotel-search-form input:focus {
  background-color: #ebebeb;
}


.hotel-search-form input:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}


/*======================================================================================*/

.map {
  display: block;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*==============================внутренняя страница======================================*/

.hotel-item {
  padding: 30px;
  margin: 0;
  text-transform: uppercase;
}

.hotel-item h3 {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: left;

  color: #000000;
}

.hotel-item p {
  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;

  color: #000000;
}

.hotel-item span {
  padding: 9px 16px;

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;

  background-color: #f2f2f2;
  color: #000000;
}
.details-button { /*Перенести наверх ко всем кнопкам главной страницы? */
  display: inline-block;

  padding: 7px 17px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}
.details-button:hover,
.details-button:focus {
  background-color: #669ec0;
}

.details-button:active{
  background-color: #669ec0;
  color: #88b6d1;
}

.booking-button { /*Перенести наверх ко всем кнопкам главной страницы? */
  display: inline-block;

  padding: 7px 17px;

  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.booking-button:hover,
.booking-button:focus {
  background-color: #604e43;
}

.booking-button:active{
  background-color: #503e33;
  color: #857871;
}

.rate { /*как правильно прописать эти звезды в рейтинге? нужно ли для этого два класса, или один подойдет?*/
  height: 17px;
  background-color: #ffffff;
}
 .rate4 {
  width: 94px;
  background-image: url("img/star.svg");
  background-repeat: repeat-x;
}

 .rate3 {
  width: 94px;
  background-image: url("img/star.svg");
  background-repeat: repeat-x;
}

 .rate2 {
  width: 94px;
  background-image: url("img/star.svg");
  background-repeat: repeat-x;
}

/*======================================футер==========================================*/
footer {
  line-height: 26px;
  font-size: 14px;
  font-weight: normal;

  background-color: rgba(255, 255, 255, 0.1);
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

.visitsedona {
  font-size: 21px;
  font-weight: bold;
}

.website-by {
  font-weight: normal;
}

footer a {
  display: block;
  width: 48px;
  height: 48px;
  padding-top: 13px;
  padding-bottom: 13px;

  list-style: none;
  text-decoration: none; /*как центрировать на кнопках векторные изображения?*/
}

.footer-logo {
  fill: #000000; /*почему у меня логотип все равно невидимый?*/
}
/*===================================флексы============================================*/
.body-wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.2);

}

.main-header {
  margin: 0;
  padding: 0;
}

.main-navigation {
  padding: 25px 70px;
  margin: 0px;
  border: 0;

  list-style: none;
}

.site-navigation {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.site-navigation a {
  list-style: none;
  cursor: pointer;
}

.site-navigation li {
  padding: 0;

}

.main-logo {
  display: block;
  width: 140px;
  height: 72px;

  margin: auto;
}

.city-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #81b3d2;
}

.city-description-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  box-sizing: border-box;

  padding: 45px 60px;
  margin: 0;

  width: 400px;
}

.city-description-image img{
  display: flex;
  flex-grow: 3;

  width: 800px;
  padding: 0;
  margin: 0;
}

.city-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  box-sizing: border-box;

  width: 400px;
  padding: 55px;
  justify-content:  space-between;
  margin: 0;

  list-style: none;
}

.option-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 400px;

  list-style: none;
}



.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
}

.features-item {
  width: 400px;
  padding: 0;

  list-style: none;
}

.devil-bridge {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background-color: #81b3d2;
}

.devil-bridge-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  box-sizing: border-box;

  padding: 45px 60px;
  margin: 0;

  width: 400px;
}

.devil-bridge-image img{
  display: flex;
  flex-grow: 3;

  width: 800px;
  padding: 0;
  margin: 0;
}

.search-container .text {
  display: block;
  margin: 0 384px;
 }

.main-footer {
  padding: 0 73px;
  margin-top: 0;
}

.main-footer .containter {
  display: flex;
  flex-direction: row;/*
  justify-content: space-between;*/

  margin: 0;
  padding: 0;
}

 .visitsedona {
  box-sizing: border-box;
  margin: 48px 45px;
  padding: 0;
  flex-grow: 1;

  min-width: 400px;
 }

.footer-buttons ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;

  padding: auto;
  margin: 0;
  width: 400px;

  list-style: none;
}

.footer-buttons li{
  list-style: none;
}

.website-by {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;

  width: 400px;
  padding: 40px auto;
}
